@using HMS.Common;
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Html;
@using System.Text;
@inject IHttpContextAccessor _httpContextAccessor
@{
    string currentAction = ViewContext.RouteData.Values["action"].ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();

}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - HMS</title>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Description" content="Bootstrap Responsive Admin Web Dashboard HTML5 Template">
    <meta name="Author" content="Spruko Technologies Private Limited">
    <meta name="Keywords" content="admin,admin dashboard,admin dashboard template,admin panel template,admin template,admin theme,bootstrap 4 admin template,bootstrap 4 dashboard,bootstrap admin,bootstrap admin dashboard,bootstrap admin panel,bootstrap admin template,bootstrap admin theme,bootstrap dashboard,bootstrap form template,bootstrap panel,bootstrap ui kit,dashboard bootstrap 4,dashboard design,dashboard html,dashboard template,dashboard ui kit,envato templates,flat ui,html,html and css templates,html dashboard template,html5,jquery html,premium,premium quality,sidebar bootstrap 4,template admin bootstrap 4" />
    <!--- Favicon --->
    <link rel="icon" href="~/assets/img/brand/favicon.png" type="image/x-icon" />
    <!-- Bootstrap css -->
    <link href="../assets/plugins/bootstrap-4.1.3/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Style css -->
    <link href="../assets/css/style.css" rel="stylesheet" />

    <!-- Default css -->
    <link href="../assets/css/default.css" rel="stylesheet">

    <!-- Sidemenu css-->
    <link rel="stylesheet" href="../assets/plugins/sidemenu/icon-sidemenu.css">

    <!-- Owl-carousel css-->
    <link href="../assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" />

    <!-- Bootstrap-daterangepicker css -->
    <link rel="stylesheet" href="../assets/plugins/bootstrap-daterangepicker/daterangepicker.css">

    <!-- Bootstrap-datepicker css -->
    <link rel="stylesheet" href="../assets/plugins/bootstrap-datepicker/bootstrap-datepicker.css">

    <!-- Custom scroll bar css -->
    <link href="../assets/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />

    <!-- P-scroll css -->
    <link href="../assets/plugins/p-scroll/p-scroll.css" rel="stylesheet" type="text/css">

    <!-- Font-icons css -->
    <link href="../assets/css/icons.css" rel="stylesheet">

    <!-- Rightsidebar css -->
    <link href="../assets/plugins/sidebar/sidebar.css" rel="stylesheet">

    <!-- Nice-select css  -->
    <link href="../assets/plugins/jquery-nice-select/css/nice-select.css" rel="stylesheet" />

    <!-- Color-palette css-->
    <link rel="stylesheet" href="../assets/css/skins.css" />
    <style>
        .hidden {
            display: none;
        }

        .card-dashboard-audience-metrics {
            margin-top: 0px !important;
        }

        .form-control::after {
            color: black;
        }
    </style>
</head>
<body class="app sidebar-mini">
    <!-- Loader -->
    <div id="loading">
        <img src="../assets/images/other/loader.svg" class="loader-img" alt="Loader">
    </div>


    <!-- main-header -->
    <div class="page">
        <div class="page-main">
            <div class="header-main header sticky">
                <div class="app-header header top-header navbar-collapse ">
                    <div class="container-fluid">
                        <div class="d-flex">
                            <a class="header-brand" href="index.html">
                                <img src="../assets/images/brand/logo.png" class="header-brand-img desktop-logo " alt="Dashlot logo">
                                <img src="../assets/images/brand/logo1.png" class="header-brand-img desktop-logo-1 " alt="Dashlot logo">
                                <img src="../assets/images/brand/favicon.png" class="mobile-logo" alt="Dashlot logo">
                                <img src="../assets/images/brand/favicon1.png" class="mobile-logo-1" alt="Dashlot logo">
                            </a>
                            <a href="#" data-toggle="sidebar" class="nav-link icon toggle"><i class="fe fe-align-justify fs-20"></i></a>
                            @Html.Partial("~/Views/Shared/_CommonHeaderMenu.cshtml")
                            @Html.Partial("~/Views/Shared/_CommonHeaderRight.cshtml")
                        </div>
                    </div>
                </div>
            </div>
        
           
        </div>
    </div>
    <div class="page">
        <div class="page-main">
            @if (ViewData["Dashboard"] == null)
            {
                <div class="breadcrumb-header justify-content-between">
                    <div class="breadcrumb-style3">
                        @* <h4 class="content-title mb-2">Hi, Welcome back!</h4> *@
                        <ol class="breadcrumb1">
                            @if (ViewBag.Breadcrumbs != null)
                            {
                                for (int i = 0; i < ViewBag.Breadcrumbs.Count; i++)
                                {
                                    var breadcrumb = ViewBag.Breadcrumbs[i];
                                    <li>
                                        <a href="@(breadcrumb.Url != null ? breadcrumb.Url : "javascript:void(0);")" class="breadcrumb-link">@breadcrumb.Text</a>
                                        @if (i < ViewBag.Breadcrumbs.Count - 1)
                                        {
                                            <span class="separator">>></span>
                                        }
                                    </li>
                                }
                            }
                        </ol>

                    </div>

                </div>
            }
            <!-- /breadcrumb -->
            <!-- Row -->
            @if (TempData[Temp_Message.Success] != null)
            {
                <div class="col-xl-4 col-lg-4 col-md-6" id="success-alert">
                    <!--Page Widget Error-->
                    <div class="card bd-0 mg-b-20 bg-success-transparent alert p-0">
                        <div class="card-header text-success font-weight-bold">
                            <i class="far fa-check-circle"></i> Success
                            <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="card-body text-success">
                            <strong>@TempData[Temp_Message.Success] </strong>
                        </div>
                    </div>
                    <!--Page Widget Error-->
                </div>
                <script>
                    var successAlert = document.getElementById('success-alert');
                    if (successAlert) {
                        setTimeout(function () {
                            successAlert.style.display = 'none';
                        }, 3000);
                    }
                </script>
            }
            @if (TempData[Temp_Message.Error] != null)
            {
                <div class="col-xl-4 col-lg-4 col-md-6" id="error-alert">
                    <!--Page Widget Error-->
                    <div class="card bd-0 mg-b-20 bg-danger-transparent alert p-0">
                        <div class="card-header text-danger font-weight-bold">
                            <i class="far fa-times-circle"></i> Error Data
                            <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="card-body text-danger">
                            <strong>@TempData[Temp_Message.Error]</strong>
                        </div>
                    </div>
                    <!--Page Widget Error-->
                </div>
                <script>
                    var errorAlert = document.getElementById('error-alert');
                    if (errorAlert) {
                        setTimeout(function () {
                            errorAlert.style.display = 'none';
                        }, 3000);
                    }</script>
            }
            @if (ViewData["Dashboard"] == null)
            {
                @RenderBody()
            }
            else
            {
                @RenderBody()
            }
        </div>
        <footer class="footer-main icon-footer">
            <div class="container">
                <div class="  mt-2 mb-2 text-center">
                    Copyright © 2019 <a href="#" class="fs-14 text-primary">Dashlot</a>. Designed by <a href="https://spruko.com/" class="fs-14 text-primary">Spruko Technologies Private Limited</a> All rights reserved.
                </div>
            </div>
        </footer>
    </div>

    <div class="page custom-index" style="display:none">
        <!-- main-header -->
        <div class="main-header side-header sticky nav nav-item">
            <div class="container-fluid main-container ">
                <div class="main-header-left ">
                    <div class="app-sidebar__toggle mobile-toggle" data-bs-toggle="sidebar">
                        <a class="open-toggle" href="javascript:void(0);"><i class="header-icons" data-eva="menu-outline"></i></a>
                        <a class="close-toggle" href="javascript:void(0);"><i class="header-icons" data-eva="close-outline"></i></a>
                    </div>
                    <div class="responsive-logo">
                        <a href="#" class="header-logo">
                            <img src="~/assets/img/brand/logo.png" class="logo-11">
                            @*<svg class="logo--desktop" aria-label="Erhardt+Leimer" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="28.28 79.85 283.6 180.62">
                            <title>Erhardt+Leimer</title>
                            <path class="logo__brand-name" fill="#0075bd" d="M257.77 161.11v-27.19h-53.7V79.85h-27.05v54.07H55.39v-27.05h108.14V79.85H28.37v134.96h135.16v-26.85H55.39v-26.85h121.63v53.7h134.81v-26.85H204.07v-26.85h53.7z"></path>
                            <path class="logo__text" d="M193.02 259.67V230.3h3.94v25.91h14.9v3.46h-18.84zM230.96 252.84c-.39 1.51-.87 2.69-1.46 3.56-.81 1.16-1.91 2.1-3.29 2.84-1.38.73-2.94 1.1-4.68 1.1-1.96 0-3.71-.46-5.25-1.39-1.55-.93-2.7-2.26-3.48-4-.77-1.74-1.16-3.68-1.16-5.82 0-3.56.96-6.36 2.89-8.42 1.92-2.06 4.3-3.09 7.12-3.09 1.56 0 3.02.32 4.39.95 1.37.63 2.46 1.52 3.26 2.66.8 1.14 1.35 2.49 1.66 4.07.17.96.25 2.62.24 4.97h-15.62c.04 1.36.28 2.56.73 3.6.45 1.04 1.14 1.84 2.07 2.41.93.57 2 .85 3.2.85 1.45 0 2.64-.33 3.56-.98.92-.65 1.68-1.75 2.28-3.3h3.54zm-3.43-5.52c-.09-2.16-.67-3.78-1.73-4.86-1.06-1.09-2.43-1.63-4.11-1.63-1.63 0-3.01.56-4.15 1.69-1.14 1.13-1.79 2.73-1.97 4.8h11.96zM235.54 234.46v-4.15h3.64v4.15h-3.64zm0 25.21v-21.4h3.64v21.4h-3.64zM244.53 238.28h3.64v2.96c.59-.81 1.1-1.42 1.54-1.82.63-.56 1.33-1 2.11-1.32.78-.32 1.62-.48 2.53-.48.88 0 1.71.15 2.51.45.79.3 1.43.69 1.93 1.17.49.48.95 1.15 1.38 2 .96-1.31 1.92-2.23 2.9-2.79.97-.55 2.12-.83 3.44-.83 1.25 0 2.36.23 3.33.7.97.47 1.7 1.02 2.22 1.67.51.65.86 1.35 1.03 2.11.17.76.26 1.87.26 3.34v14.24h-3.74v-15c0-1.22-.33-2.17-.99-2.84-.66-.67-1.57-1-2.73-1-1.45 0-2.67.53-3.67 1.59-.99 1.06-1.49 2.54-1.49 4.44v12.81h-3.64v-14.82c0-1.4-.3-2.42-.89-3.06-.59-.64-1.44-.96-2.55-.96-1.52 0-2.81.61-3.88 1.82-1.07 1.21-1.6 2.68-1.6 4.41v12.61h-3.64v-21.4zM296.89 252.84c-.39 1.51-.87 2.69-1.46 3.56-.81 1.16-1.91 2.1-3.29 2.84-1.38.73-2.94 1.1-4.68 1.1-1.96 0-3.71-.46-5.25-1.39-1.55-.93-2.7-2.26-3.48-4-.77-1.74-1.16-3.68-1.16-5.82 0-3.56.96-6.36 2.89-8.42 1.92-2.06 4.3-3.09 7.12-3.09 1.56 0 3.02.32 4.39.95 1.37.63 2.46 1.52 3.26 2.66.8 1.14 1.35 2.49 1.66 4.07.17.96.25 2.62.24 4.97h-15.62c.04 1.36.28 2.56.73 3.6.45 1.04 1.14 1.84 2.07 2.41.93.57 2 .85 3.2.85 1.45 0 2.64-.33 3.56-.98.92-.65 1.68-1.75 2.28-3.3h3.54zm-3.44-5.52c-.09-2.16-.67-3.78-1.73-4.86-1.06-1.09-2.43-1.63-4.11-1.63-1.63 0-3.01.56-4.14 1.69-1.14 1.13-1.8 2.73-1.97 4.8h11.95zM301.46 259.67v-21.4h3.64v3.54c.63-1.43 1.45-2.48 2.47-3.17 1.02-.69 2.06-1.03 3.13-1.03.32 0 .71.04 1.18.12v3.8c-.63-.07-1.07-.1-1.32-.1-1.08 0-2.08.29-3 .86-.92.57-1.6 1.33-2.04 2.28-.29.63-.43 1.57-.42 2.82v12.29h-3.64z"></path>
                            <path class="logo__text" d="M28.28 259.8v-29.37h21.44v3.44h-17.5v9.07h16.16v3.44H32.22v9.97H50v3.46H28.28zM55.27 259.8v-21.4h3.64v3.54c.63-1.43 1.45-2.48 2.47-3.17 1.02-.69 2.06-1.03 3.13-1.03.32 0 .71.04 1.18.12v3.8c-.63-.07-1.07-.1-1.32-.1-1.08 0-2.08.29-3 .86-.92.57-1.6 1.33-2.04 2.28-.29.63-.43 1.56-.42 2.82v12.29h-3.64zM68.85 259.8v-29.37h3.64v10.85c.6-.81 1.13-1.41 1.58-1.8.45-.39.94-.7 1.46-.95s1.07-.44 1.66-.58c.59-.14 1.23-.21 1.94-.21 1.5 0 2.82.32 3.96.95 1.13.63 1.94 1.5 2.42 2.6s.72 2.69.72 4.78v13.72h-3.64v-13.5c0-1.4-.12-2.44-.36-3.12-.25-.68-.72-1.22-1.39-1.62-.67-.4-1.51-.6-2.51-.6-1.69 0-3.09.59-4.19 1.78-1.1 1.19-1.65 2.96-1.65 5.31v11.75h-3.64zM91.59 244.82c.08-1.21.28-2.22.61-3.02.33-.8.82-1.49 1.47-2.09.65-.59 1.53-1.07 2.64-1.43 1.11-.36 2.41-.54 3.92-.54 1.48 0 2.76.15 3.84.46 1.08.31 1.94.74 2.58 1.3.64.56 1.11 1.2 1.4 1.91.29.71.44 1.52.44 2.43v11.91c0 .63.1 1.06.31 1.29.21.23.5.35.87.35.28 0 .68-.05 1.2-.16v2.58c-.8.19-1.49.28-2.08.28-1.24 0-2.14-.24-2.71-.73-.57-.49-.9-1.28-1.01-2.37-1.09 1.16-2.23 2.03-3.43 2.61-1.19.58-2.58.87-4.17.87-2.09 0-3.75-.59-4.97-1.76-1.23-1.17-1.84-2.68-1.84-4.51 0-1.07.2-2.02.6-2.88.4-.85.96-1.56 1.68-2.14.43-.36 1.02-.69 1.77-1 .75-.31 1.55-.51 2.39-.6l5.79-.72c.73-.09 1.26-.33 1.58-.71.32-.38.48-.96.48-1.75 0-1.19-.37-2.1-1.12-2.74-.75-.64-2-.96-3.76-.96-1.64 0-2.85.34-3.65 1.02-.79.68-1.26 1.71-1.39 3.1h-3.44zm13.26 4.1c-.37.25-.77.44-1.18.56-.61.17-1.78.38-3.5.62-1.26.17-2.1.31-2.52.42-.8.2-1.44.46-1.92.77s-.83.68-1.06 1.09c-.23.41-.34.92-.34 1.52 0 1.08.35 1.95 1.05 2.63.7.67 1.69 1.01 2.97 1.01 1.62 0 3.11-.48 4.46-1.43s2.03-2.2 2.03-3.75v-3.44zM114.4 259.8v-21.4h3.64v3.54c.63-1.43 1.45-2.48 2.47-3.17 1.02-.69 2.06-1.03 3.13-1.03.32 0 .71.04 1.18.12v3.8c-.63-.07-1.07-.1-1.32-.1-1.08 0-2.08.29-3 .86-.92.57-1.6 1.33-2.04 2.28-.29.63-.43 1.56-.42 2.82v12.29h-3.64zM140.19 241.15v-10.71h3.62v29.37h-3.26v-2.68c-.73.83-1.37 1.45-1.92 1.87-.55.42-1.22.77-2.03 1.05-.81.28-1.7.42-2.69.42-2.57 0-4.7-.94-6.4-2.82-1.7-1.88-2.55-4.57-2.55-8.07 0-2.1.33-4.06.99-5.86.66-1.8 1.7-3.25 3.13-4.34 1.43-1.08 3.09-1.63 4.99-1.63 1.12 0 2.07.17 2.87.51.79.34 1.47.78 2.03 1.31.37.34.77.87 1.22 1.58zm-11.52 8.19c0 2.76.6 4.86 1.8 6.31.93 1.13 2.25 1.7 3.96 1.7 1.84 0 3.31-.67 4.43-2.01 1.11-1.34 1.67-3.5 1.67-6.48 0-2.33-.44-4.16-1.32-5.47-1.1-1.66-2.62-2.5-4.53-2.5-1.09 0-2.1.3-3.03.89-.93.59-1.65 1.54-2.18 2.85-.54 1.3-.8 2.87-.8 4.71zM149.86 238.41v-5.97h3.62v5.97h3.42v2.94h-3.42v13.96c0 .59.15 1.02.46 1.31.31.29.84.43 1.6.43.41 0 .87-.03 1.36-.08v2.86c-.72.21-1.59.32-2.6.32-1.55 0-2.67-.36-3.38-1.07-.71-.71-1.06-1.91-1.06-3.59v-14.14h-2.9v-2.94h2.9z"></path>
                            <path class="logo__text" d="M172.97 230.8h2.99v13.23h12.8v3.08h-12.8v13.23h-2.99v-13.23h-12.83v-3.08h12.83V230.8z"></path>
                            </svg>*@

                        </a>
                        <a href="index.html" class="header-logo">
                            <img src="~/assets/img/brand/logo-white.png" class="logo-1">
                            <svg class="logo--desktop" aria-label="Erhardt+Leimer" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="28.28 79.85 283.6 180.62">
                            <title>Erhardt+Leimer</title>
                            <path class="logo__brand-name" fill="#0075bd" d="M257.77 161.11v-27.19h-53.7V79.85h-27.05v54.07H55.39v-27.05h108.14V79.85H28.37v134.96h135.16v-26.85H55.39v-26.85h121.63v53.7h134.81v-26.85H204.07v-26.85h53.7z"></path>
                            <path class="logo__text" d="M193.02 259.67V230.3h3.94v25.91h14.9v3.46h-18.84zM230.96 252.84c-.39 1.51-.87 2.69-1.46 3.56-.81 1.16-1.91 2.1-3.29 2.84-1.38.73-2.94 1.1-4.68 1.1-1.96 0-3.71-.46-5.25-1.39-1.55-.93-2.7-2.26-3.48-4-.77-1.74-1.16-3.68-1.16-5.82 0-3.56.96-6.36 2.89-8.42 1.92-2.06 4.3-3.09 7.12-3.09 1.56 0 3.02.32 4.39.95 1.37.63 2.46 1.52 3.26 2.66.8 1.14 1.35 2.49 1.66 4.07.17.96.25 2.62.24 4.97h-15.62c.04 1.36.28 2.56.73 3.6.45 1.04 1.14 1.84 2.07 2.41.93.57 2 .85 3.2.85 1.45 0 2.64-.33 3.56-.98.92-.65 1.68-1.75 2.28-3.3h3.54zm-3.43-5.52c-.09-2.16-.67-3.78-1.73-4.86-1.06-1.09-2.43-1.63-4.11-1.63-1.63 0-3.01.56-4.15 1.69-1.14 1.13-1.79 2.73-1.97 4.8h11.96zM235.54 234.46v-4.15h3.64v4.15h-3.64zm0 25.21v-21.4h3.64v21.4h-3.64zM244.53 238.28h3.64v2.96c.59-.81 1.1-1.42 1.54-1.82.63-.56 1.33-1 2.11-1.32.78-.32 1.62-.48 2.53-.48.88 0 1.71.15 2.51.45.79.3 1.43.69 1.93 1.17.49.48.95 1.15 1.38 2 .96-1.31 1.92-2.23 2.9-2.79.97-.55 2.12-.83 3.44-.83 1.25 0 2.36.23 3.33.7.97.47 1.7 1.02 2.22 1.67.51.65.86 1.35 1.03 2.11.17.76.26 1.87.26 3.34v14.24h-3.74v-15c0-1.22-.33-2.17-.99-2.84-.66-.67-1.57-1-2.73-1-1.45 0-2.67.53-3.67 1.59-.99 1.06-1.49 2.54-1.49 4.44v12.81h-3.64v-14.82c0-1.4-.3-2.42-.89-3.06-.59-.64-1.44-.96-2.55-.96-1.52 0-2.81.61-3.88 1.82-1.07 1.21-1.6 2.68-1.6 4.41v12.61h-3.64v-21.4zM296.89 252.84c-.39 1.51-.87 2.69-1.46 3.56-.81 1.16-1.91 2.1-3.29 2.84-1.38.73-2.94 1.1-4.68 1.1-1.96 0-3.71-.46-5.25-1.39-1.55-.93-2.7-2.26-3.48-4-.77-1.74-1.16-3.68-1.16-5.82 0-3.56.96-6.36 2.89-8.42 1.92-2.06 4.3-3.09 7.12-3.09 1.56 0 3.02.32 4.39.95 1.37.63 2.46 1.52 3.26 2.66.8 1.14 1.35 2.49 1.66 4.07.17.96.25 2.62.24 4.97h-15.62c.04 1.36.28 2.56.73 3.6.45 1.04 1.14 1.84 2.07 2.41.93.57 2 .85 3.2.85 1.45 0 2.64-.33 3.56-.98.92-.65 1.68-1.75 2.28-3.3h3.54zm-3.44-5.52c-.09-2.16-.67-3.78-1.73-4.86-1.06-1.09-2.43-1.63-4.11-1.63-1.63 0-3.01.56-4.14 1.69-1.14 1.13-1.8 2.73-1.97 4.8h11.95zM301.46 259.67v-21.4h3.64v3.54c.63-1.43 1.45-2.48 2.47-3.17 1.02-.69 2.06-1.03 3.13-1.03.32 0 .71.04 1.18.12v3.8c-.63-.07-1.07-.1-1.32-.1-1.08 0-2.08.29-3 .86-.92.57-1.6 1.33-2.04 2.28-.29.63-.43 1.57-.42 2.82v12.29h-3.64z"></path>
                            <path class="logo__text" d="M28.28 259.8v-29.37h21.44v3.44h-17.5v9.07h16.16v3.44H32.22v9.97H50v3.46H28.28zM55.27 259.8v-21.4h3.64v3.54c.63-1.43 1.45-2.48 2.47-3.17 1.02-.69 2.06-1.03 3.13-1.03.32 0 .71.04 1.18.12v3.8c-.63-.07-1.07-.1-1.32-.1-1.08 0-2.08.29-3 .86-.92.57-1.6 1.33-2.04 2.28-.29.63-.43 1.56-.42 2.82v12.29h-3.64zM68.85 259.8v-29.37h3.64v10.85c.6-.81 1.13-1.41 1.58-1.8.45-.39.94-.7 1.46-.95s1.07-.44 1.66-.58c.59-.14 1.23-.21 1.94-.21 1.5 0 2.82.32 3.96.95 1.13.63 1.94 1.5 2.42 2.6s.72 2.69.72 4.78v13.72h-3.64v-13.5c0-1.4-.12-2.44-.36-3.12-.25-.68-.72-1.22-1.39-1.62-.67-.4-1.51-.6-2.51-.6-1.69 0-3.09.59-4.19 1.78-1.1 1.19-1.65 2.96-1.65 5.31v11.75h-3.64zM91.59 244.82c.08-1.21.28-2.22.61-3.02.33-.8.82-1.49 1.47-2.09.65-.59 1.53-1.07 2.64-1.43 1.11-.36 2.41-.54 3.92-.54 1.48 0 2.76.15 3.84.46 1.08.31 1.94.74 2.58 1.3.64.56 1.11 1.2 1.4 1.91.29.71.44 1.52.44 2.43v11.91c0 .63.1 1.06.31 1.29.21.23.5.35.87.35.28 0 .68-.05 1.2-.16v2.58c-.8.19-1.49.28-2.08.28-1.24 0-2.14-.24-2.71-.73-.57-.49-.9-1.28-1.01-2.37-1.09 1.16-2.23 2.03-3.43 2.61-1.19.58-2.58.87-4.17.87-2.09 0-3.75-.59-4.97-1.76-1.23-1.17-1.84-2.68-1.84-4.51 0-1.07.2-2.02.6-2.88.4-.85.96-1.56 1.68-2.14.43-.36 1.02-.69 1.77-1 .75-.31 1.55-.51 2.39-.6l5.79-.72c.73-.09 1.26-.33 1.58-.71.32-.38.48-.96.48-1.75 0-1.19-.37-2.1-1.12-2.74-.75-.64-2-.96-3.76-.96-1.64 0-2.85.34-3.65 1.02-.79.68-1.26 1.71-1.39 3.1h-3.44zm13.26 4.1c-.37.25-.77.44-1.18.56-.61.17-1.78.38-3.5.62-1.26.17-2.1.31-2.52.42-.8.2-1.44.46-1.92.77s-.83.68-1.06 1.09c-.23.41-.34.92-.34 1.52 0 1.08.35 1.95 1.05 2.63.7.67 1.69 1.01 2.97 1.01 1.62 0 3.11-.48 4.46-1.43s2.03-2.2 2.03-3.75v-3.44zM114.4 259.8v-21.4h3.64v3.54c.63-1.43 1.45-2.48 2.47-3.17 1.02-.69 2.06-1.03 3.13-1.03.32 0 .71.04 1.18.12v3.8c-.63-.07-1.07-.1-1.32-.1-1.08 0-2.08.29-3 .86-.92.57-1.6 1.33-2.04 2.28-.29.63-.43 1.56-.42 2.82v12.29h-3.64zM140.19 241.15v-10.71h3.62v29.37h-3.26v-2.68c-.73.83-1.37 1.45-1.92 1.87-.55.42-1.22.77-2.03 1.05-.81.28-1.7.42-2.69.42-2.57 0-4.7-.94-6.4-2.82-1.7-1.88-2.55-4.57-2.55-8.07 0-2.1.33-4.06.99-5.86.66-1.8 1.7-3.25 3.13-4.34 1.43-1.08 3.09-1.63 4.99-1.63 1.12 0 2.07.17 2.87.51.79.34 1.47.78 2.03 1.31.37.34.77.87 1.22 1.58zm-11.52 8.19c0 2.76.6 4.86 1.8 6.31.93 1.13 2.25 1.7 3.96 1.7 1.84 0 3.31-.67 4.43-2.01 1.11-1.34 1.67-3.5 1.67-6.48 0-2.33-.44-4.16-1.32-5.47-1.1-1.66-2.62-2.5-4.53-2.5-1.09 0-2.1.3-3.03.89-.93.59-1.65 1.54-2.18 2.85-.54 1.3-.8 2.87-.8 4.71zM149.86 238.41v-5.97h3.62v5.97h3.42v2.94h-3.42v13.96c0 .59.15 1.02.46 1.31.31.29.84.43 1.6.43.41 0 .87-.03 1.36-.08v2.86c-.72.21-1.59.32-2.6.32-1.55 0-2.67-.36-3.38-1.07-.71-.71-1.06-1.91-1.06-3.59v-14.14h-2.9v-2.94h2.9z"></path>
                            <path class="logo__text" d="M172.97 230.8h2.99v13.23h12.8v3.08h-12.8v13.23h-2.99v-13.23h-12.83v-3.08h12.83V230.8z"></path>
        </svg>

                        </a>
                    </div>
                    @Html.Partial("~/Views/Shared/_CommonHeaderMenu.cshtml")
                </div>
                @Html.Partial("~/Views/Shared/_CommonHeaderRight.cshtml")
                <button class="navbar-toggler nav-link icon navresponsive-toggler vertical-icon ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fe fe-more-vertical header-icons navbar-toggler-icon"></i>
                </button>
            </div>
        </div>
        <!-- /main-header -->
        <!-- main-sidebar -->
        <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
        <div class="sticky">
            <aside class="app-sidebar sidebar-scroll">
                <div class="main-sidebar-header active">
                    <a class="desktop-logo logo-light text-center active" href="/">
                        @*<img src="~/assets/img/brand/logo.png" class="main-logo" alt="logo">*@
                        <svg height="40px" class="logo--desktop" aria-label="Erhardt+Leimer" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="28.28 79.85 283.6 180.62">
                        <title>Erhardt+Leimer</title>
                        <path class="logo__brand-name" fill="#0075bd" d="M257.77 161.11v-27.19h-53.7V79.85h-27.05v54.07H55.39v-27.05h108.14V79.85H28.37v134.96h135.16v-26.85H55.39v-26.85h121.63v53.7h134.81v-26.85H204.07v-26.85h53.7z"></path>
                        <path class="logo__text" d="M193.02 259.67V230.3h3.94v25.91h14.9v3.46h-18.84zM230.96 252.84c-.39 1.51-.87 2.69-1.46 3.56-.81 1.16-1.91 2.1-3.29 2.84-1.38.73-2.94 1.1-4.68 1.1-1.96 0-3.71-.46-5.25-1.39-1.55-.93-2.7-2.26-3.48-4-.77-1.74-1.16-3.68-1.16-5.82 0-3.56.96-6.36 2.89-8.42 1.92-2.06 4.3-3.09 7.12-3.09 1.56 0 3.02.32 4.39.95 1.37.63 2.46 1.52 3.26 2.66.8 1.14 1.35 2.49 1.66 4.07.17.96.25 2.62.24 4.97h-15.62c.04 1.36.28 2.56.73 3.6.45 1.04 1.14 1.84 2.07 2.41.93.57 2 .85 3.2.85 1.45 0 2.64-.33 3.56-.98.92-.65 1.68-1.75 2.28-3.3h3.54zm-3.43-5.52c-.09-2.16-.67-3.78-1.73-4.86-1.06-1.09-2.43-1.63-4.11-1.63-1.63 0-3.01.56-4.15 1.69-1.14 1.13-1.79 2.73-1.97 4.8h11.96zM235.54 234.46v-4.15h3.64v4.15h-3.64zm0 25.21v-21.4h3.64v21.4h-3.64zM244.53 238.28h3.64v2.96c.59-.81 1.1-1.42 1.54-1.82.63-.56 1.33-1 2.11-1.32.78-.32 1.62-.48 2.53-.48.88 0 1.71.15 2.51.45.79.3 1.43.69 1.93 1.17.49.48.95 1.15 1.38 2 .96-1.31 1.92-2.23 2.9-2.79.97-.55 2.12-.83 3.44-.83 1.25 0 2.36.23 3.33.7.97.47 1.7 1.02 2.22 1.67.51.65.86 1.35 1.03 2.11.17.76.26 1.87.26 3.34v14.24h-3.74v-15c0-1.22-.33-2.17-.99-2.84-.66-.67-1.57-1-2.73-1-1.45 0-2.67.53-3.67 1.59-.99 1.06-1.49 2.54-1.49 4.44v12.81h-3.64v-14.82c0-1.4-.3-2.42-.89-3.06-.59-.64-1.44-.96-2.55-.96-1.52 0-2.81.61-3.88 1.82-1.07 1.21-1.6 2.68-1.6 4.41v12.61h-3.64v-21.4zM296.89 252.84c-.39 1.51-.87 2.69-1.46 3.56-.81 1.16-1.91 2.1-3.29 2.84-1.38.73-2.94 1.1-4.68 1.1-1.96 0-3.71-.46-5.25-1.39-1.55-.93-2.7-2.26-3.48-4-.77-1.74-1.16-3.68-1.16-5.82 0-3.56.96-6.36 2.89-8.42 1.92-2.06 4.3-3.09 7.12-3.09 1.56 0 3.02.32 4.39.95 1.37.63 2.46 1.52 3.26 2.66.8 1.14 1.35 2.49 1.66 4.07.17.96.25 2.62.24 4.97h-15.62c.04 1.36.28 2.56.73 3.6.45 1.04 1.14 1.84 2.07 2.41.93.57 2 .85 3.2.85 1.45 0 2.64-.33 3.56-.98.92-.65 1.68-1.75 2.28-3.3h3.54zm-3.44-5.52c-.09-2.16-.67-3.78-1.73-4.86-1.06-1.09-2.43-1.63-4.11-1.63-1.63 0-3.01.56-4.14 1.69-1.14 1.13-1.8 2.73-1.97 4.8h11.95zM301.46 259.67v-21.4h3.64v3.54c.63-1.43 1.45-2.48 2.47-3.17 1.02-.69 2.06-1.03 3.13-1.03.32 0 .71.04 1.18.12v3.8c-.63-.07-1.07-.1-1.32-.1-1.08 0-2.08.29-3 .86-.92.57-1.6 1.33-2.04 2.28-.29.63-.43 1.57-.42 2.82v12.29h-3.64z"></path>
                        <path class="logo__text" d="M28.28 259.8v-29.37h21.44v3.44h-17.5v9.07h16.16v3.44H32.22v9.97H50v3.46H28.28zM55.27 259.8v-21.4h3.64v3.54c.63-1.43 1.45-2.48 2.47-3.17 1.02-.69 2.06-1.03 3.13-1.03.32 0 .71.04 1.18.12v3.8c-.63-.07-1.07-.1-1.32-.1-1.08 0-2.08.29-3 .86-.92.57-1.6 1.33-2.04 2.28-.29.63-.43 1.56-.42 2.82v12.29h-3.64zM68.85 259.8v-29.37h3.64v10.85c.6-.81 1.13-1.41 1.58-1.8.45-.39.94-.7 1.46-.95s1.07-.44 1.66-.58c.59-.14 1.23-.21 1.94-.21 1.5 0 2.82.32 3.96.95 1.13.63 1.94 1.5 2.42 2.6s.72 2.69.72 4.78v13.72h-3.64v-13.5c0-1.4-.12-2.44-.36-3.12-.25-.68-.72-1.22-1.39-1.62-.67-.4-1.51-.6-2.51-.6-1.69 0-3.09.59-4.19 1.78-1.1 1.19-1.65 2.96-1.65 5.31v11.75h-3.64zM91.59 244.82c.08-1.21.28-2.22.61-3.02.33-.8.82-1.49 1.47-2.09.65-.59 1.53-1.07 2.64-1.43 1.11-.36 2.41-.54 3.92-.54 1.48 0 2.76.15 3.84.46 1.08.31 1.94.74 2.58 1.3.64.56 1.11 1.2 1.4 1.91.29.71.44 1.52.44 2.43v11.91c0 .63.1 1.06.31 1.29.21.23.5.35.87.35.28 0 .68-.05 1.2-.16v2.58c-.8.19-1.49.28-2.08.28-1.24 0-2.14-.24-2.71-.73-.57-.49-.9-1.28-1.01-2.37-1.09 1.16-2.23 2.03-3.43 2.61-1.19.58-2.58.87-4.17.87-2.09 0-3.75-.59-4.97-1.76-1.23-1.17-1.84-2.68-1.84-4.51 0-1.07.2-2.02.6-2.88.4-.85.96-1.56 1.68-2.14.43-.36 1.02-.69 1.77-1 .75-.31 1.55-.51 2.39-.6l5.79-.72c.73-.09 1.26-.33 1.58-.71.32-.38.48-.96.48-1.75 0-1.19-.37-2.1-1.12-2.74-.75-.64-2-.96-3.76-.96-1.64 0-2.85.34-3.65 1.02-.79.68-1.26 1.71-1.39 3.1h-3.44zm13.26 4.1c-.37.25-.77.44-1.18.56-.61.17-1.78.38-3.5.62-1.26.17-2.1.31-2.52.42-.8.2-1.44.46-1.92.77s-.83.68-1.06 1.09c-.23.41-.34.92-.34 1.52 0 1.08.35 1.95 1.05 2.63.7.67 1.69 1.01 2.97 1.01 1.62 0 3.11-.48 4.46-1.43s2.03-2.2 2.03-3.75v-3.44zM114.4 259.8v-21.4h3.64v3.54c.63-1.43 1.45-2.48 2.47-3.17 1.02-.69 2.06-1.03 3.13-1.03.32 0 .71.04 1.18.12v3.8c-.63-.07-1.07-.1-1.32-.1-1.08 0-2.08.29-3 .86-.92.57-1.6 1.33-2.04 2.28-.29.63-.43 1.56-.42 2.82v12.29h-3.64zM140.19 241.15v-10.71h3.62v29.37h-3.26v-2.68c-.73.83-1.37 1.45-1.92 1.87-.55.42-1.22.77-2.03 1.05-.81.28-1.7.42-2.69.42-2.57 0-4.7-.94-6.4-2.82-1.7-1.88-2.55-4.57-2.55-8.07 0-2.1.33-4.06.99-5.86.66-1.8 1.7-3.25 3.13-4.34 1.43-1.08 3.09-1.63 4.99-1.63 1.12 0 2.07.17 2.87.51.79.34 1.47.78 2.03 1.31.37.34.77.87 1.22 1.58zm-11.52 8.19c0 2.76.6 4.86 1.8 6.31.93 1.13 2.25 1.7 3.96 1.7 1.84 0 3.31-.67 4.43-2.01 1.11-1.34 1.67-3.5 1.67-6.48 0-2.33-.44-4.16-1.32-5.47-1.1-1.66-2.62-2.5-4.53-2.5-1.09 0-2.1.3-3.03.89-.93.59-1.65 1.54-2.18 2.85-.54 1.3-.8 2.87-.8 4.71zM149.86 238.41v-5.97h3.62v5.97h3.42v2.94h-3.42v13.96c0 .59.15 1.02.46 1.31.31.29.84.43 1.6.43.41 0 .87-.03 1.36-.08v2.86c-.72.21-1.59.32-2.6.32-1.55 0-2.67-.36-3.38-1.07-.71-.71-1.06-1.91-1.06-3.59v-14.14h-2.9v-2.94h2.9z"></path>
                        <path class="logo__text" d="M172.97 230.8h2.99v13.23h12.8v3.08h-12.8v13.23h-2.99v-13.23h-12.83v-3.08h12.83V230.8z"></path>
    </svg>
                    </a>
                    @*<a class="desktop-logo logo-dark active" href="index.html"><img src="~/assets/img/brand/logo-white.png" class="main-logo" alt="logo"></a>*@
                    @*<a class="logo-icon mobile-logo icon-light active" href="index.html"><img src="~/assets/img/brand/favicon.png" alt="logo"></a>
                    <a class="logo-icon mobile-logo icon-dark active" href="index.html"><img src="~/assets/img/brand/favicon-white.png" alt="logo"></a>*@
                </div>
                <div class="main-sidemenu">
                    <div class="main-sidebar-loggedin">
                        <div class="app-sidebar__user">
                            <div class="dropdown user-pro-body text-center" id="profileid">
                                <div class="user-pic">
                                    <img src="data:image/png;base64,@_httpContextAccessor.HttpContext.Session.GetString("userphoto")" alt="user-img" class="rounded-circle mCS_img_loaded">
                                </div>
                                <div class="user-info" id="dropdown">
                                    <h6 class=" mb-0 text-dark"> @_httpContextAccessor.HttpContext.Session.GetString("username")</h6>
                                    <h6 class=" mb-0 text-dark">
                                        @{
                                            var list = _httpContextAccessor.HttpContext.Session.GetString("UserAccess");
                                            //var listMenu = JsonConvert.DeserializeObject(list);
                                            //var listMenu = JsonConvert.DeserializeObject<List<AdminMenuModel>>(list) as List<AdminMenuModel>;

                                        }
                                    </h6>
                                    @* <h6 class=" mb-0 text-dark">Petey Cruiser</h6> *@
                                    <span class="text-muted app-sidebar__user-name text-sm">@_httpContextAccessor.HttpContext.Session.GetString("desination")</span><br>
                                    <span class="text-muted app-sidebar__user-name text-sm">@_httpContextAccessor.HttpContext.Session.GetString("department")</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"><path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" /></svg></div>
                    <ul class="side-menu ">
                        <li class="slide @((controllerName=="Dashboard" && currentAction=="Index")?"is-expanded":"")">
                            <a class="side-menu__item" href="@Url.Action("Index","Dashboard", new { area = "Admin" })"><i class="side-menu__icon fas fa-tachometer-alt"></i><span class="side-menu__label">Dashboard</span></a>
                        </li>
                        <li class="slide @((controllerName=="ClinicMaster" && currentAction=="Index")?"is-expanded":"")">
                            <a class="side-menu__item" href="@Url.Action("Index","ClinicMaster")"><i class="side-menu__icon fas fa-tachometer-alt"></i><span class="side-menu__label">Clinic Master</span></a>
                        </li>
                        <li class="slide @((controllerName=="DepartmentMaster" && currentAction=="Index")?"is-expanded":"")">
                            <a class="side-menu__item" href="@Url.Action("Index","DepartmentMaster")"><i class="side-menu__icon fas fa-tachometer-alt"></i><span class="side-menu__label">Department Master</span></a>
                        </li>
                        <li class="slide @((controllerName=="DesignationMaster" && currentAction=="Index")?"is-expanded":"")">
                            <a class="side-menu__item" href="@Url.Action("Index","DesignationMaster")"><i class="side-menu__icon fas fa-tachometer-alt"></i><span class="side-menu__label">Designation Master</span></a>
                        </li>
                        <li class="slide @((controllerName=="Home" && currentAction=="Index")?"is-expanded":"")">
                            <a class="side-menu__item" href="@Url.Action("LogOut","Home")"><i class="side-menu__icon fas fa-tachometer-alt"></i><span class="side-menu__label">Logout</span></a>
                        </li>
                        @*  @foreach (var item in listMenu.Where(item => item.ParentMenuID == 0 && item.Active))
                        {
                        if (item.MenuName == "Electronics Production")
                        {
                        <li class="slide">
                        <a class="side-menu__item" href="@item.Controller">
                        <i class="side-menu__icon @item.Icon"></i>
                        <span class="side-menu__label">@item.MenuName</span>
                        </a>

                        </li>
                        }
                        else
                        {
                        <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);">
                        <i class="side-menu__icon @item.Icon"></i>
                        <span class="side-menu__label">@item.MenuName</span>
                        <i class="angle fe fe-chevron-down"></i>
                        </a>
                        @Html.Raw(RenderMenu(listMenu, item.MenuID))
                        </li>
                        }

                        } *@
                        @*  @functions {
                        HtmlString RenderMenu(List<AdminMenuModel> menuItems, int parentMenuId = 0)
                        {
                        var childMenuItems = menuItems.Where(item => item.ParentMenuID == parentMenuId && item.Active).ToList();

                        if (childMenuItems.Any())
                        {
                        var menuHtml = new StringBuilder();

                        menuHtml.Append("<ul class='slide-menu'>");

                        foreach (var item in childMenuItems)
                        {
                        var menuItemHtml = new StringBuilder();

                        menuItemHtml.Append("<li class='sub-slide'>");

                        if (menuItems.Any(menu => menu.ParentMenuID == item.MenuID && menu.Active))
                        {
                        // If there are submenus, render the submenu toggle button
                        menuItemHtml.Append("<a class='slide-item' data-bs-toggle='sub-slide' href='javascript:void(0);'>");
                        menuItemHtml.Append($"<span class='sub-side-menu__label'>{item.MenuName}</span><i class='sub-angle fe fe-chevron-down'></i></a>");
                        }
                        else
                        {
                        // If no submenus, render a regular link
                        //menuItemHtml.Append($"<a class='slide-item {(item.Controller == ViewContext.RouteData.Values["controller"].ToString() && item.Action == ViewContext.RouteData.Values["action"].ToString() && item.Area == ViewContext.RouteData.Values["area"].ToString() ? "active" : "")}' href='{Url.Action(item.Action, item.Controller, new { area = item.Area })}'>{item.MenuName}</a>");

                        if (item.Controller == ViewContext.RouteData.Values["controller"].ToString() && item.Area == ViewContext.RouteData.Values["area"].ToString() && (item.Action == ViewContext.RouteData.Values["action"].ToString() || ViewContext.RouteData.Values["action"].ToString() == "AddEdit"))
                        {
                        menuItemHtml.Append($"<a class='slide-item active'");
                        }
                        else
                        {
                        menuItemHtml.Append($"<a class='slide-item '");
                        }
                        //{((item.Controller == ViewContext.RouteData.Values["controller"].ToString() && item.Action == ViewContext.RouteData.Values["action"].ToString() && item.Area == ViewContext.RouteData.Values["area"].ToString()) ? ((item.Controller == ViewContext.RouteData.Values["controller"].ToString()) ? "active" : "") : ((item.Controller == ViewContext.RouteData.Values["controller"].ToString() && item.Area == ViewContext.RouteData.Values["area"].ToString()) ? "active" : ""))}
                        menuItemHtml.Append($" href='{Url.Action(item.Action, item.Controller, new { area = item.Area })}'>{item.MenuName}</a>");

                        }

                        // Recursively render submenus
                        if (menuItems.Any(menu => menu.ParentMenuID == item.MenuID && menu.Active))
                        {
                        menuItemHtml.Append(RenderSubMenu(menuItems, item.MenuID));
                        }

                        menuItemHtml.Append("</li>");
                        menuHtml.Append(menuItemHtml);
                        }

                        menuHtml.Append("</ul>");
                        return new HtmlString(menuHtml.ToString());
                        }

                        return HtmlString.Empty;
                        }
                        HtmlString RenderSubMenu(List<AdminMenuModel> menuItems, int parentMenuId = 0)
                        {
                        var childMenuItems = menuItems.Where(item => item.ParentMenuID == parentMenuId && item.Active).ToList();

                        if (childMenuItems.Any())
                        {
                        var menuHtml = new StringBuilder();

                        menuHtml.Append("<ul class='sub-slide-menu'>");

                        foreach (var item in childMenuItems)
                        {
                        var menuItemHtml = new StringBuilder();

                        menuItemHtml.Append("<li class='sub-slide'>");

                        if (menuItems.Any(menu => menu.ParentMenuID == item.MenuID && menu.Active))
                        {
                        // If there are submenus, render the submenu toggle button
                        menuItemHtml.Append("<a class='slide-item' data-bs-toggle='sub-slide' href='javascript:void(0);'>");
                        menuItemHtml.Append($"<span class='sub-side-menu__label'>{item.MenuName}</span><i class='sub-angle fe fe-chevron-down'></i></a>");
                        }
                        else
                        {
                        // If no submenus, render a regular link
                        //menuItemHtml.Append($"<a class='slide-item {(item.Controller == ViewContext.RouteData.Values["controller"].ToString() && item.Action == ViewContext.RouteData.Values["action"].ToString() && item.Area == ViewContext.RouteData.Values["area"].ToString() ? "active" : "")}' href='{Url.Action(item.Action, item.Controller, new { area = item.Area })}'>{item.MenuName}</a>");
                        if (item.Controller == ViewContext.RouteData.Values["controller"].ToString() && item.Area == ViewContext.RouteData.Values["area"].ToString() && (item.Action == ViewContext.RouteData.Values["action"].ToString() || ViewContext.RouteData.Values["action"].ToString() == "AddEdit"))
                        {
                        menuItemHtml.Append($"<a class='slide-item active'");
                        }
                        else
                        {
                        menuItemHtml.Append($"<a class='slide-item '");
                        }
                        menuItemHtml.Append($" href='{Url.Action(item.Action, item.Controller, new { area = item.Area })}'>{item.MenuName}</a>");
                        //menuItemHtml.Append($"<a class='slide-item {((item.Controller == ViewContext.RouteData.Values["controller"].ToString() && item.Action == ViewContext.RouteData.Values["action"].ToString() && item.Area == ViewContext.RouteData.Values["area"].ToString()) ? ((item.Controller == ViewContext.RouteData.Values["controller"].ToString()) ? "active" : "") : ((item.Controller == ViewContext.RouteData.Values["controller"].ToString() && item.Area == ViewContext.RouteData.Values["area"].ToString()) ? "active" : ""))}' href='{Url.Action(item.Action, item.Controller, new { area = item.Area })}'>{item.MenuName}</a>");
                        }

                        // Recursively render submenus
                        if (menuItems.Any(menu => menu.ParentMenuID == item.MenuID && menu.Active))
                        {
                        menuItemHtml.Append(RenderSubPageMenu(menuItems, item.MenuID));
                        }

                        menuItemHtml.Append("</li>");
                        menuHtml.Append(menuItemHtml);
                        }

                        menuHtml.Append("</ul>");
                        return new HtmlString(menuHtml.ToString());
                        }

                        return HtmlString.Empty;
                        }
                        HtmlString RenderSubPageMenu(List<AdminMenuModel> menuItems, int parentMenuId = 0)
                        {
                        var childMenuItems = menuItems.Where(item => item.ParentMenuID == parentMenuId && item.Active).ToList();

                        if (childMenuItems.Any())
                        {
                        var menuHtml = new StringBuilder();

                        menuHtml.Append("<ul class='sub-slide-menu'>");

                        foreach (var item in childMenuItems)
                        {
                        var menuItemHtml = new StringBuilder();

                        menuItemHtml.Append("<li class='sub-slide2'>");

                        if (menuItems.Any(menu => menu.ParentMenuID == item.MenuID && menu.Active))
                        {
                        // If there are submenus, render the submenu toggle button
                        menuItemHtml.Append("<a class='slide-item-menu__item' data-bs-toggle='sub-slide2' href='javascript:void(0);'>");
                        menuItemHtml.Append($"<span class='sub-side-menu__label'>{item.MenuName}</span><i class='sub-angle fe fe-chevron-down'></i></a>");
                        }
                        else
                        {
                        // If no submenus, render a regular link
                        //menuItemHtml.Append($"<a class='sub-slide-item {(item.Controller == ViewContext.RouteData.Values["controller"].ToString() && item.Action == ViewContext.RouteData.Values["action"].ToString() && item.Area == ViewContext.RouteData.Values["area"].ToString() ? "active" : "")}' href='{Url.Action(item.Action, item.Controller, new { area = item.Area })}'>{item.MenuName}</a>");

                        if (item.Controller == ViewContext.RouteData.Values["controller"].ToString() && item.Area == ViewContext.RouteData.Values["area"].ToString() && (item.Action == ViewContext.RouteData.Values["action"].ToString() || ViewContext.RouteData.Values["action"].ToString() == "AddEdit"))
                        {
                        menuItemHtml.Append($"<a class='slide-item active'");
                        }
                        else
                        {
                        menuItemHtml.Append($"<a class='slide-item '");
                        }
                        menuItemHtml.Append($" href='{Url.Action(item.Action, item.Controller, new { area = item.Area })}'>{item.MenuName}</a>");
                        //menuItemHtml.Append($"<a class='slide-item {((item.Controller == ViewContext.RouteData.Values["controller"].ToString() && item.Action == ViewContext.RouteData.Values["action"].ToString() && item.Area == ViewContext.RouteData.Values["area"].ToString()) ? ((item.Controller == ViewContext.RouteData.Values["controller"].ToString()) ? "active" : "") : ((item.Controller == ViewContext.RouteData.Values["controller"].ToString() && item.Area == ViewContext.RouteData.Values["area"].ToString()) ? "active" : ""))}' href='{Url.Action(item.Action, item.Controller, new { area = item.Area })}'>{item.MenuName}</a>");
                        }

                        // Recursively render submenus
                        if (menuItems.Any(menu => menu.ParentMenuID == item.MenuID && menu.Active))
                        {
                        menuItemHtml.Append(RenderSubMenu(menuItems, item.MenuID));
                        }

                        menuItemHtml.Append("</li>");
                        menuHtml.Append(menuItemHtml);
                        }

                        menuHtml.Append("</ul>");
                        return new HtmlString(menuHtml.ToString());
                        }

                        return HtmlString.Empty;
                        }
                        } *@
                        <li class="slide" style="display:none;">
                            <a class="side-menu__item" href="http://elindia/Elect_Prod/"><i class="side-menu__icon fa fa-bolt"></i><span class="side-menu__label">Electronic Producation</span></a>
                        </li>
                    </ul>
                    <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" /></svg></div>
                </div>
            </aside>
        </div>
        <!-- main-sidebar -->
        <!-- main-content -->


        

        <div class="main-content app-content" style="display:none">
            <!-- container -->
            <div class="main-container container-fluid">
                <!-- breadcrumb -->
                @if (ViewData["Dashboard"] == null)
                {
                    <div class="breadcrumb-header justify-content-between">
                        <div class="breadcrumb-style3">
                            @* <h4 class="content-title mb-2">Hi, Welcome back!</h4> *@
                            <ol class="breadcrumb1">
                                @if (ViewBag.Breadcrumbs != null)
                                {
                                    for (int i = 0; i < ViewBag.Breadcrumbs.Count; i++)
                                    {
                                        var breadcrumb = ViewBag.Breadcrumbs[i];
                                        <li>
                                            <a href="@(breadcrumb.Url != null ? breadcrumb.Url : "javascript:void(0);")" class="breadcrumb-link">@breadcrumb.Text</a>
                                            @if (i < ViewBag.Breadcrumbs.Count - 1)
                                            {
                                                <span class="separator">>></span>
                                            }
                                        </li>
                                    }
                                }
                            </ol>

                        </div>

                    </div>
                }
                <!-- /breadcrumb -->
                <!-- Row -->
                @if (TempData[Temp_Message.Success] != null)
                {
                    <div class="col-xl-4 col-lg-4 col-md-6" id="success-alert">
                        <!--Page Widget Error-->
                        <div class="card bd-0 mg-b-20 bg-success-transparent alert p-0">
                            <div class="card-header text-success font-weight-bold">
                                <i class="far fa-check-circle"></i> Success
                                <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="card-body text-success">
                                <strong>@TempData[Temp_Message.Success] </strong>
                            </div>
                        </div>
                        <!--Page Widget Error-->
                    </div>
                    <script>
                        var successAlert = document.getElementById('success-alert');
                        if (successAlert) {
                            setTimeout(function () {
                                successAlert.style.display = 'none';
                            }, 3000);
                        }
                    </script>
                }
                @if (TempData[Temp_Message.Error] != null)
                {
                    <div class="col-xl-4 col-lg-4 col-md-6" id="error-alert">
                        <!--Page Widget Error-->
                        <div class="card bd-0 mg-b-20 bg-danger-transparent alert p-0">
                            <div class="card-header text-danger font-weight-bold">
                                <i class="far fa-times-circle"></i> Error Data
                                <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="card-body text-danger">
                                <strong>@TempData[Temp_Message.Error]</strong>
                            </div>
                        </div>
                        <!--Page Widget Error-->
                    </div>
                    <script>
                        var errorAlert = document.getElementById('error-alert');
                        if (errorAlert) {
                            setTimeout(function () {
                                errorAlert.style.display = 'none';
                            }, 3000);
                        }</script>
                }
                @if (ViewData["Dashboard"] == null)
                {
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="card custom-card" id="basic">
                                <div class="card-body">

                                    @RenderBody()

                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    @RenderBody()
                }
                <!-- /row -->
            </div>
            <!-- Container closed -->
        </div>
        <!-- main-content closed -->
        <!-- Footer opened -->
        <div class="main-footer ht-45">
            <div class="container-fluid pd-t-0-f ht-100p">
                <span> Copyright © @DateTime.Now.Year <a href="javascript:void(0);" class="text-primary">ErhardtLeimer</a>. Powered by <a href="https://www.aditmicrosys.com/" target="_blank"> Adit Microsys PVT Ltd. </a> All rights reserved.</span>
            </div>
        </div>
        <!-- Footer closed -->
    </div>
    <!--- Back-to-top --->
    <a href="#top" id="back-to-top"><i class="las la-angle-double-up"></i></a>

    <!--- JQuery min js --->
    <!-- Jquery-scripts -->
    <script src="../assets/js/vendors/jquery-3.2.1.min.js"></script>

    <!-- Moment js-->
    <script src="../assets/plugins/moment/moment.min.js"></script>

    <!-- Bootstrap-scripts js -->
    <script src="../assets/js/vendors/bootstrap.bundle.min.js"></script>

    <!-- Sparkline JS-->
    <script src="../assets/js/vendors/jquery.sparkline.min.js"></script>

    <!-- Bootstrap-daterangepicker js -->
    <script src="../assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Bootstrap-datepicker js -->
    <script src="../assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>

    <!-- Chart-circle js -->
    <script src="../assets/js/vendors/circle-progress.min.js"></script>

    <!-- Rating-star js -->
    <script src="../assets/plugins/rating/jquery.rating-stars.js"></script>

    <!-- Clipboard js -->
    <script src="../assets/plugins/clipboard/clipboard.min.js"></script>
    <script src="../assets/plugins/clipboard/clipboard.js"></script>

    <!-- Prism js -->
    <script src="../assets/plugins/prism/prism.js"></script>

    <!-- Custom scroll bar js-->
    <script src="../assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Nice-select js-->
    <script src="../assets/plugins/jquery-nice-select/js/jquery.nice-select.js"></script>
    <script src="../assets/plugins/jquery-nice-select/js/nice-select.js"></script>

    <!-- P-scroll js -->
    <script src="../assets/plugins/p-scroll/p-scroll.js"></script>
    <script src="../assets/plugins/p-scroll/p-scroll-1.js"></script>

    <!-- Sidemenu js-->
    <script src="../assets/plugins/sidemenu/icon-sidemenu.js"></script>

    <!-- JQVMap -->
    <script src="../assets/plugins/jqvmap/jquery.vmap.js"></script>
    <script src="../assets/plugins/jqvmap/maps/jquery.vmap.world.js"></script>
    <script src="../assets/plugins/jqvmap/jquery.vmap.sampledata.js"></script>

    <!-- Apexchart js-->
    <script src="../assets/js/apexcharts.js"></script>

    <!-- Chart js-->
    <script src="../assets/plugins/chart/chart.min.js"></script>

    <!-- Index js -->
    <script src="../assets/js/index.js"></script>
    <script src="../assets/js/index-map.js"></script>

    <!-- Rightsidebar js -->
    <script src="../assets/plugins/sidebar/sidebar.js"></script>

    <!-- Custom js -->
    <script src="../assets/js/custom.js"></script>
    <script>


        $('select').on('select2:open', function () {
            $('.select2-search--dropdown .select2-search__field').attr('placeholder', 'Type to search...');
        });



        $(document).ready(function () {
            $("a.slide-item.active").parents("li").addClass("is-expanded");
        });

        $('input').attr('autocomplete', 'off');
        $(".allow_numeric").on("input", function (evt) {
            var self = $(this);
            self.val(self.val().replace(/\D/g, ""));
            if ((evt.which < 48 || evt.which > 57)) {
                evt.preventDefault();
            }
        });
        var directoryurl = '';
        function GetMenuByUser() {
            $.ajax({
                url: directoryurl + '/Admin/Account/GetMenuByUser',
        @*data: 'Department=' + Department,*@
                success: function (data) {
                    alert("success");
                },
                error: function (error) {
                    alert("error");
                }
                                                                                    });
                                                                                }
        $(document).ready(function () {
            if ($('.dataTables_empty').is(':visible')) {
                // Check if btn-excel class is visible
                if ($('.btn-excel').is(':visible')) {
                    // Hide the anchor tag with btn-excel class
                    $('.btn-excel').addClass('hidden');
                }
                if ($('.btn-pdf').is(':visible')) {
                    // Hide the anchor tag with btn-excel class
                    $('.btn-pdf').addClass('hidden');
                }
            }
            // //GetMenuByUser();
            // var dropdown = $('.select2-list');

            // // Get the options and sort them by text
            // var sortedOptions = dropdown.find('option').sort(function (a, b) {
            //     return $(a).text().localeCompare($(b).text());
            // });

            // // Update the dropdown with the sorted options
            // dropdown.empty().append(sortedOptions);

            // // Initialize select2 if needed
            // dropdown.select2();

            $('.select2-list').each(function () {
                var dropdown = $(this);

                // Get the options
                var options = dropdown.find('option');

                // Sort options by text, with a special case for "select"
                var sortedOptions = options.sort(function (a, b) {
                    var textA = $(a).text().toLowerCase();;
                    var textB = $(b).text().toLowerCase();;

                    // Move "select" to the top
                    if (textA === 'select') {
                        return -1;
                    } else if (textB === 'select') {
                        return 1;
                    }
                    else if (textA === 'select product') {
                        return -1;
                    } else if (textB === 'select product') {
                        return 1;
                    }
                    else if (textA === 'select status') {
                        return -1;
                    } else if (textB === 'select status') {
                        return 1;
                    }


                    // Regular sorting for other options
                    return textA.localeCompare(textB);
                });
                dropdown.empty().append(sortedOptions);
                dropdown.select2({
                    placeholder: "Search"
                });
            });


            var clearsearchInput = document.querySelector('.clearsearch');
            if (clearsearchInput != null) {
                var inputValue = clearsearchInput.value;
                var clearButton = $('.clear-search-button');


                $(document).on("input", ".numeric", function () {
                    this.value = this.value.replace(/\D/g, '');
                });

                if (inputValue.length > 0) {
                    clearButton.show(); // Show the clear button if there is text
                } else {
                    clearButton.hide(); // Hide the clear button if there is no text
                }
            }
            //open datepicker field on icon button click
            $('#datepicker-from').click(function () {
                $('#from-date').datepicker('show');
            });
            $('#datepicker-to').click(function () {
                $('#to-date').datepicker('show');
            });


            //validation for to date greater than from date
            $("#from-date").datepicker().change(function () {
                $("#to-date").datepicker('option', 'minDate', $(this).datepicker('getDate'));
            });
            $("#datepicker-from").datepicker().change(function () {
                $("#datepicker-to").datepicker('option', 'minDate', $(this).datepicker('getDate'));
            });
            //debugger
            //$("#AddEditForm").submit(function () {
            //    $("#btnSubmit", this).attr("disabled", "disabled");
            //});

            // Add an event listener for the input fields
            $("input").on("input", function () {
                // Get the associated validation message element
                var validationMessage = $(this).siblings(".text-danger");

                // Clear the validation message
                validationMessage.text("");
            });

            // Add an event listener for when an input field loses focus
            $("input").on("blur", function () {
                // Get the associated validation message element
                var validationMessage = $(this).siblings(".text-danger");

                // Check if the input value is empty or invalid (you'll need to customize this check)
                if ($(this).val() === "") {
                    // Show the validation message
                    validationMessage.text("This field is required.");
                }
            });
            $(".inputDate").on("blur", function () {
                // Get the associated validation message element
                var validationMessage = $(this).siblings(".text-danger");

                // Check if the input value is empty or invalid (you'll need to customize this check)
                if ($(this).val() === "" || $(this).val() === null || $(this).val() === undefined) {
                    // Show the validation message
                    validationMessage.text("This field is required.");
                }
            });

            // Add an event listener for the dropdown change
            $(".dropdown-validation").on("change", function () {
                // Get the selected value
                var selectedValue = $(this).val();

                // Get the associated validation message element
                var validationMessage = $(this).siblings(".text-danger");

                // Check if the selected value is "0"
                if (selectedValue === "0") {
                    // Show the validation message
                    validationMessage.text("Please select a valid value.");
                } else {
                    // Clear the validation message
                    validationMessage.text("");
                }
            });

        });
        $('.clearsearch').keyup(function () {
            var inputValue = $(this).val();
            var clearButton = $('.clear-search-button');

            if (inputValue.length > 0) {
                clearButton.show(); // Show the clear button if there is text
            } else {
                clearButton.hide(); // Hide the clear button if there is no text
            }
        });

        // Add a click event handler for the clear search button
        $('.clear-search-button').click(function () {
            // Clear the search input
            $('.clearsearch').val('');
            var clearButton = $('.clear-search-button');
            clearButton.hide();
            // Reload the page
            $('#btnSearch').click();
        });
        var tdElement = $("table tr td[colspan]");
        tdElement.removeAttr("colspan");
        var table = document.getElementById("example1");
        if (table != null) {
            var thElements = table.getElementsByTagName("th");
            var newColspan = thElements.length; // Set the desired colspan value
            tdElement.attr("colspan", newColspan);
            var activeChild = $(".sub-slide a.slide-item.active");

            if (activeChild.length > 0) {
                // Add the "is-expanded" class to the main parent li
                activeChild.closest(".slide").addClass("is-expanded");
                activeChild.closest(".sub-slide").addClass("is-expanded");
            }
            if ($("a.slide-item.active").length > 0) {
                // Add the "is-expanded" class to the relevant elements
                $("li.sub-slide:has(a.slide-item.active)").addClass("is-expanded");
                $("li.sub-slide:has(a.slide-item.active) ul.sub-slide-menu").addClass("open");
            }
        }
        function clearFields() {
            $('#from-date').val('');
            $('#to-date').val('');
            $('#SearchString').val('');

        }

        function compare(a, b) {
            return $(a).text().localeCompare($(b).text());
        }

    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const imageContainer = document.getElementById("profileid");
            const hoveredImage = document.getElementById("dropdown");
            imageContainer.addEventListener("mouseover", function () {
                hoveredImage.style.display = "block";
            });
            // imageContainer.addEventListener("mouseout", function() {
            //   hoveredImage.style.display = "none";
            // });
            document.addEventListener("click", function (event) {
                // Check if the click is outside the image container
                if (!imageContainer.contains(event.target)) {
                    hoveredImage.style.display = "none";
                }
            });
        });
    </script>

    @*@await RenderSectionAsync("Scripts", required: false)*@
</body>
</html>
