@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/css/all.min.css" rel="stylesheet" />
<link href="~/css/ionicons.min.css" rel="stylesheet" />
<link href="~/css/typicons.css" rel="stylesheet" />
<link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/css/responsive.dataTables.min.css" rel="stylesheet" />
<link href="~/css/select2.min.css" rel="stylesheet" />*@
@*<link href="~/css/azia.css" rel="stylesheet" />  ----*@
@*<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap.bundle.js"></script>
<script src="~/js/jquery.dataTables.min.js"></script>
<script src="~/js/dataTables.dataTables.min.js"></script>
<script src="~/js/dataTables.responsive.min.js"></script>
<script src="~/js/responsive.dataTables.min.js"></script>
<script src="~/js/select2.min.js"></script>*@
@*<script src="~/js/azia.js"></script>*@

@{string Action = ViewContext.RouteData.Values["action"].ToString();
    string Controller = ViewContext.RouteData.Values["controller"].ToString();
}

<div class="col-sm-12">
@if (Model.Pager != null)
{
    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite" style="margin-top: 10px;">
        Showing @(Model.Pager.StartIndex >= 0 ? Model.Pager.StartIndex + 1 : 0 ) to @(Model.Pager.EndIndex>=0? Model.Pager.EndIndex+1 :0) of @Model.Pager.TotalItems entries
        <div class="dataTables_paginate paging_simple_numbers" style="text-align: center; float: right; margin-top: 10px; ">
            <ul class="pagination dataTables_paginate paging_simple_numbers">
                @if (Model.Pager.CurrentPage !=0 && Model.Pager.CurrentPage !=1)
                {
                    <li class="page-item">
                            <a class="page-link paginate_button " href="@Url.Action(Action,Controller,new {CurrentPage=1,SearchString=Model.SearchString,PageSizeId=Model.PageSizeId,sortField=Model.sortField,sortOrder=Model.sortOrder,fromDate=Model.fromDate,toDate=Model.toDate})">
                            <span aria-hidden="true">First</span>
                            <span class="sr-only">First</span>
                        </a>
                    </li>

                    <li class="page-item">
                            <a class="page-link paginate_button" href="@Url.Action(Action, Controller, new {  CurrentPage = Model.Pager.CurrentPage > 1 ? Model.Pager.CurrentPage - 1 : Model.Pager.CurrentPage, SearchString = Model.SearchString,PageSizeId=Model.PageSizeId ,sortField=Model.sortField,sortOrder=Model.sortOrder,fromDate=Model.fromDate,toDate=Model.toDate})">
                                <i class="fa fa-angle-left"></i>
                        </a>
                    </li>
                }
                @foreach (var p in Model.Pager.Pages)
                {
                    <li class="page-item @(p == Model.Pager.CurrentPage ? "active" : "")">
                            <a class="page-link paginate_button " href="@Url.Action(Action,Controller,new { CurrentPage=p,SearchString=Model.SearchString,PageSizeId=Model.PageSizeId,sortField=Model.sortField,sortOrder=Model.sortOrder,fromDate=Model.fromDate,toDate=Model.toDate})">@p</a>
                    </li>
                }
                @if (Model.Pager.CurrentPage != Model.Pager.TotalPages)
                {
                    <li class="page-item">
                            <a class="page-link paginate_button " href="@Url.Action(Action,Controller,new {CurrentPage=Model.Pager.CurrentPage +1,SearchString=Model.SearchString,PageSizeId=Model.PageSizeId,sortField=Model.sortField,sortOrder=Model.sortOrder,fromDate=Model.fromDate,toDate=Model.toDate})" aria-label="Next">
                                <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                    <li class="page-item">
                            <a class="page-link paginate_button " href="@Url.Action(Action,Controller,new {CurrentPage=Model.Pager.TotalPages ,SearchString=Model.SearchString,PageSizeId=Model.PageSizeId,sortField=Model.sortField,sortOrder=Model.sortOrder,fromDate=Model.fromDate,toDate=Model.toDate})" aria-label="Next">
                            <span aria-hidden="true">Last</span>
                            <span class="sr-only">Last</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
}
</div>
