model HMS.Models.DepartmentMasterModel
@using HMS.Common;
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Html;
@using System.Text;
@{
    Layout = "~/Views/Shared/_ClinicLayout.cshtml";
    HMS.Common.EncryptDecrypt encDecr = new HMS.Common.EncryptDecrypt();
    string Action = ViewContext.RouteData.Values["action"].ToString();
    string Controller = ViewContext.RouteData.Values["controller"].ToString();
  

   
}

<h2>DeptUser</h2>

<div class="row">
    <div class="col-xl-12">
        <div class="card">         

            <div class="card-body">
                <div class="table-responsive">
                    <table id="example1" class="table card-table table-striped text-nowrap table-bordered border-top" role="grid">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>Sr No.</th>
                                <th>@Html.ActionLink("Department Name", "Index", "ClinicDepartmentMaster", new { sortField = "DepartmentName", sortCol = ViewBag.SortField, sortOrder = ViewBag.SortOrder == "Asc" ? "Desc" : "Asc", searchString = ViewBag.searchString, PageSizeId = ViewBag.PageSizeId })</th>
                                <th>@Html.ActionLink("User", "Index", "ClinicDepartmentMaster", new { sortField = "User", sortCol = ViewBag.SortField, sortOrder = ViewBag.SortOrder == "Asc" ? "Desc" : "Asc", searchString = ViewBag.searchString, PageSizeId = ViewBag.PageSizeId })</th>
                                <th>@Html.ActionLink("Status", "Index", "ClinicDepartmentMaster", new { sortField = "Active", sortCol = ViewBag.SortField, sortOrder = ViewBag.SortOrder == "Asc" ? "Desc" : "Asc", searchString = ViewBag.searchString, PageSizeId = ViewBag.PageSizeId })</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.departmentMasterList != null && Model.departmentMasterList.Count > 0)
                            {
                                for (int i = 0; i < Model.departmentMasterList.Count; i++)
                                {
                                   
                                    var id = "deleteDepartment" + @Model.departmentMasterList[i].Id;
                                    var hrefid = "#deleteDepartment" + @Model.departmentMasterList[i].Id;
                                    var closeId = "DepartmentModalLabel" + @Model.departmentMasterList[i].Id;
                                    <tr>
                                        <td class="btn-icon-list">
                                            <a class="btn btn-info btn-sm text-white" href="@Url.Action("AddEdit","ClinicDepartmentMaster",new { departmentid = encDecr.EncryptString(@Model.departmentMasterList[i].Id.ToString()) })"><i class="fa fa-edit"></i></a>
                                            <a class="btn btn-danger btn-sm text-white" data-toggle="modal" data-target=@hrefid><i class="fa fa-trash-o"></i></a>
                                        </td>
                                        @* <td>@Model.departmentMasterList[i].RowNum</td> *@
                                       
                                        <td>@Model.departmentMasterList[i].DepartmentName</td>
                                        @*  <td>@Model.departmentMasterList[i].DeptWiseUserCount</td> *@
                                        <td>
                                            <a href="@Url.Action("DeptUser", "ClinicDepartmentMaster", new { DeptId = @Model.departmentMasterList[i].Id, ClinicId =  @Model.departmentMasterList[i].Clinic_Id})">
                                                @Model.departmentMasterList[i].DeptWiseUserCount
                                            </a>
                                        </td>

                                        <td>@(Model.departmentMasterList[i].Active ? "Yes" : "No")</td>
                                        @*<td>@(Model.departmentMasterList[i].IsDelete? "Yes" : "No")</td>*@
                                    </tr>

                                    <div class="modal fade" id=@id tabindex="-1" role="dialog" aria-labelledby=@closeId aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id=@closeId>Clinic Department</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="modal-body">
                                                        <div class="py-3 text-center">
                                                            <i class="fa fa-exclamation-circle fa-5x"></i>
                                                            <h4 class="heading mt-4">Are you sure you want to delete Clinic Department!</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                                    <a href="@Url.Action("Delete","ClinicDepartmentMaster",new { deleteId = encDecr.EncryptString(@Model.departmentMasterList[i].Id.ToString()) })" type="button" class="btn btn-primary">Yes</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <tr class="odd">
                                    <td valign="top" colspan="10" class="dataTables_empty"><div class="card mg-b-20 text-center"><div class="card-body h-100"><img src="~/assets/img/svgicons/no-data.svg" alt="" class="wd-10p"><h5 class="mg-b-10 mg-t-15 tx-18">Its Empty In Here</h5><a href="javascript:void(0);" class="text-dark">@ViewBag.ErroMsg</a></div></div></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
               
            </div>
        </div>
    </div>

</div>