@model HMS.Models.UserMasterModel
@{

    Layout = "~/Views/Shared/_ClinicLayout.cshtml";
    HMS.Common.EncryptDecrypt encryptDecrypt = new HMS.Common.EncryptDecrypt();
    string Action = ViewContext.RouteData.Values["action"].ToString();
    string Controller = ViewContext.RouteData.Values["controller"].ToString();
}
@if (TempData["Temp_Error"] != null)
{

}

<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title mb-0">User</h4>
    </div>
    <div class="page-rightheader">
        <div class="ml-3 ml-auto d-flex">
            <div class="d-flex align-items-center flex-wrap text-nowrap">
                <a href="@Url.Action("Index","ClinicUserMaster")" class="btn btn-primary btn-icon-text mb-2 mb-md-0">
                    <i class="fa fa-arrow-left "></i>
                    Back
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Forms</div>
                <div class="card-options ">
                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                    <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                    <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                </div>
            </div>
            <div class="card-body">
                @using (Html.BeginForm(Action, Controller, FormMethod.Post, new { area = Model.Area, id = "AddEditForm" }))
                {
                    <div class="row">
                        <div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
                            <!--div-->

                            <div class="row row-sm">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        @Html.HiddenFor(Model => Model.Id)
                                        @Html.LabelFor(Model => Model.FirstName, "First Name", new { @class = "form-label required-label" })
                                        @Html.TextBoxFor(Model => Model.FirstName, new { @class = "form-control", @id = "FirstName", @oninput = "this.value = this.value.replace(/[^A-Za-z]/g, '')" })
                                        <p class="text-danger margin-bottom-0"> @Html.ValidationMessageFor(Model => Model.FirstName)</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(Model => Model.LastName, "Last Name", new { @class = "form-label required-label" })
                                        @Html.TextBoxFor(Model => Model.LastName, new { @class = "form-control", @id = "LastName", @oninput = "this.value = this.value.replace(/[^A-Za-z]/g, '')" })
                                        <p class="text-danger margin-bottom-0"> @Html.ValidationMessageFor(Model => Model.LastName)</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(Model => Model.Email, "Email", new { @class = "form-label required-label" })
                                        @Html.TextBoxFor(Model => Model.Email, new { @class = "form-control", @id = "Email", @type = "email", @placeholder = "example:aaa@gmail.com" })
                                        <p class="text-danger margin-bottom-0"> @Html.ValidationMessageFor(Model => Model.Email)</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(Model => Model.Active, new { @class = "form-label" })
                                        @Html.DropDownListFor(Model => Model.Active, new SelectList(Model.lstStatus, "Value", "Text"), new { @class = "form-control select2-list dropdown-validation" })

                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(Model => Model.Designations, "Designation", new { @class = "form-label" })
                                        @Html.DropDownListFor(Model => Model.Designations, new SelectList(Model.designationList, "Value", "Text"), new { @class = "form-control select2-list dropdown-validation", @id = "designationDropdown", @onchange = "handleDropdownChange();" })

                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(Model => Model.Departments, "Department", new { @class = "form-label" })
                                        @Html.DropDownListFor(Model => Model.Departments, new SelectList(Model.departmentList, "Value", "Text"), new { @class = "form-control select2-list dropdown-validation" })
                                    </div>
                                </div>
                            </div>

                            <div class="card" id="consultantCard">
                                <div class="card-body">
                                    <div class="main-content-label mg-b-5">
                                        Charges Details
                                    </div>
                                    <p class="mg-b-20"></p>
                                    <div class="row row-sm">
                                        <table class="table" style="width:70%">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th style="color:black;text-align:center">Consultant Charges</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>OPD Charges</td>
                                                    <td>
                                                        @Html.TextBoxFor(Model => Model.OPD_Charge, new { @class = "form-control", @id = "OPD_Charge", @oninput = "this.value = this.value.replace(/[^0-9]/g, '')" })

                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>Night Charges</td>
                                                    <td>
                                                        @Html.TextBoxFor(Model => Model.Night_Charge, new { @class = "form-control", @id = "Night_Charge", @oninput = "this.value = this.value.replace(/[^0-9]/g, '')" })

                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>Emergency Charge</td>
                                                    <td>
                                                        @Html.TextBoxFor(Model => Model.Emergency_Charge, new { @class = "form-control", @id = "Emergency_Charge", @oninput = "this.value = this.value.replace(/[^0-9]/g, '')" })

                                                    </td>

                                                </tr>

                                                <tr>
                                                    <td>Specify Revisit(In Day):</td>
                                                    <td>
                                                        @Html.TextBoxFor(Model => Model.SpecifyRevisit, new { @class = "form-control", @id = "SpecifyRevisit", @oninput = "this.value = this.value.replace(/[^0-9]/g, '')" })

                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row row-sm">
                                <div class="col-lg-12 justify-content-center">
                                    <a href="@Url.Action("Index","ClinicUserMaster")" class="btn btn-info" id="btnBack" value="Reset">Back</a>

                                    <a href="#" class="btn btn-secondary" id="btnReset" value="Reset">Reset</a>

                                    <button class="btn btn-primary" id="btnSubmit" value="Submit">Save</button>
                                </div>
                            </div>

                        </div>
                        <!--/div-->
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- jQuery Validation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<!-- jQuery Unobtrusive Validation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

    <script>
    $("#btnReset").click(function () {
        // Reset the form fields
        document.getElementById("AddEditForm").reset();

        // Clear validation messages
        $(".text-danger").text("");


    });

    document.getElementById('btnSubmit').addEventListener('click', function (event) {
        var FirstName = document.getElementById('FirstName').value.trim();
        if (FirstName === '') {
            document.getElementById('FirstNameError').style.display = 'block';
            event.preventDefault(); // Prevent form submission
        } else {
            document.getElementById('FirstNameError').style.display = 'none';
        }
        var LastName = document.getElementById('LastName').value.trim();
        if (LastName === '') {
            document.getElementById('LastNameError').style.display = 'block';
            event.preventDefault(); // Prevent form submission
        } else {
            document.getElementById('LastNameError').style.display = 'none';
        }
        var Email = document.getElementById('Email').value.trim();
        if (Email === '') {
            document.getElementById('EmailError').style.display = 'block';
            event.preventDefault(); // Prevent form submission
        } else {
            document.getElementById('EmailError').style.display = 'none';
        }
        var Password = document.getElementById('Password').value.trim();
        if (Password === '') {
            document.getElementById('PasswordError').style.display = 'block';
            event.preventDefault(); // Prevent form submission
        } else {
            document.getElementById('PasswordError').style.display = 'none';
        }
    });



    $(document).ready(function () {
        // Initially hide the card
        $('#consultantCard').hide();

        // Check the default selected value of the dropdown
        var selectedValue = $('#designationDropdown option:selected').text();      

        // Check if the default value is "11"
        if (selectedValue === "Consultant") {
            // If selected, show the card
            $('#consultantCard').show();
        }

        // Event listener for dropdown change
        //$('#designationDropdown').change(handleDropdownChange);
    });

    function handleDropdownChange() {
        // Check the selected value of the dropdown
        var selectedValue = $('#designationDropdown option:selected').text();
              
        // Check if "Consultant" is selected
        if (selectedValue === "Consultant") {
            // If selected, show the card
            $('#consultantCard').show(); // Show the card using its id
        } else {
            // If not selected, hide the card
            $('#consultantCard').hide(); // Hide the card using its id
        }
    }
</script>